
.carte {

  background: var(--bleuf);
  border-radius: 20px;
  display: flex;
  padding: 4rem;

}

.avatar {
  border-radius: 50%;
  margin: 1em  20% auto 2em;
  border: 10px solid var(--contraste);
  height: 150px;
  width: 150px;
}

.user-info {
  color: var(--contraste);
  margin-left: 10%;
}



.user-info ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 400px;
}

.user-info ul li {
  display: flex;
  align-items: center;
}

.user-info ul li strong {
  font-size: 1.5em;
  margin-left: 0.5rem;
}

.repo {
  text-decoration: none;
  color: #fff;
  background-color: var(--contraste);
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}

@media (max-width: 500px) {
  .card {
    flex-direction: column;
    align-items: center;
  }

  .user-form {
    max-width: 400px;
  }
}
